{% extends "base.html" %}

{% block title%}

Person profile

{% endblock %}


{% block contenet%}
<h1>Расчет режимов резания (фрезеровки)</h1> <br>
<h4>Основными параметрами задающими режимы резания являются:</h4>
<p>-Частота вращения вала шпинделя (n) <br>
-Скорость подачи (S) <br>
-Глубина фрезерования за один проход <br>
</p>
<h4>Требуемая частота вращения зависит от</h4>
<p>
-Типа и характеристик используемого шпинделя <br>
-Режущего инструмента <br>
-Обрабатываемого материала <br>
</p>
<h4>Частота вращения шпинделя вычисляется по следующей формуле:</h4>
<img src="https://cncmodelist.ru/images/articals/REZANIE/A.jpg" alt="формулв">
<p>
D – Диаметр режущей части рабочего инструмента, мм <br>
π – число Пи, 3.14 <br>
V – скорость резания (м/мин) - путь пройденный точкой (краем) режущей кромки фрезы в минуту. <br>

Скорость резания (V) берется из справочных таблиц (См ниже). <br>
</p>
<h4>Обращаем ваше внимание на то, что скорость подачи (S) и скорость резания (V) это не одно и  то же!!!</h4>
<p>При расчетах, для фрез малого диаметра значение частоты вращения шпинделя может получиться больше,
    чем количество оборотов, которое в состоянии обеспечить шпиндель. В данном случае за основу дальнейших
    расчетов величины (n) берется фактическая максимальная частота вращения шпинделя.</p>
<h4>Скорость подачи (S) – скорость перемещения режущего инструмента (оси X/Y), вычисляется по формуле:</h4>
<img src="https://cncmodelist.ru/images/articals/REZANIE/B.jpg" alt="формула">
<p>
fz - подача на один зуб фрезы (мм) <br>
z - количество зубьев фрезы <br>
n - частота вращения шпинделя (об/мин) <br>
Подача на зуб берется из справочных таблиц по обработке тех или иных материалов. <br>
</p>
<h4>Таблица для расчета режимов резания:</h4>
<img src="https://cncmodelist.ru/images/articals/REZANIE/E.jpg" alt="tab">
<p>После теоретических расчетов по формулам требуется подкорректировать значение скорости подачи.
Необходимо учитывать жесткость станка. Для станков с высокой жесткостью и качеством механики
значения скорости подачи выбираются ближе к максимальным расчетным. Для станков с низкой жесткостью
следует выбрать меньшие значения скорости подачи.</p>
<p><strong>Глубина фрезерования за один проход (ось Z)</strong> зависит от жесткости фрезы, длины
    режущей кромки и жесткости станка. Подбирается опытным путем, в ходе наблюдения  за работой станка,
    постепенным увеличением глубины резания. Если при работе возникают посторонние вибрации, получаемый
    рез низкого качества – следует уменьшить глубину за проход и произвести коррекцию скорости подачи.</p>
<p><strong>Скорость врезания по высоте (ось Z)</strong>следует выбирать примерно 1/3 – 1/5 от скорости
    подачи (S).</p>
<h4>Краткие рекомендации по выбору фрез:</h4>
<p>При выборе фрез нужно учитывать следующие их характеристики: <br>
-Диаметр и рабочая длина. Геометрия фрезы. <br>
-Угол заточки <br>
-Количество режущих кромок <br>
-Материал и качество изготовления фрезы. <br>
Лучше всего отдавать предпочтение фрезам имеющих максимальный диаметр и минимальную длину
    для выполнении конкретного вида работ. <br><br>

Короткая фреза большого диаметра обладает повышенной жесткостью, создает значительно меньше
вибраций при интенсивной работе, позволяет добиться лучшего качества съема материала.
Выбирая фрезу большого диаметра следует учитывать механические характеристики станка и
мощность шпинделя, чтобы иметь возможность получить максимальную производительность при обработке.</p>
<p>Для обработки мягких материалов лучше использовать фрезы с острым углом заточки режущей кромки,
    для твердых – более тупой угол в диапазоне до 70-90 градусов.</p>
<p>Пластики и мягкие материалы лучше всего обрабатывать однозаходными фрезами. Древесину и фанеру – двухзаходными.
    Черные металлы – 3х/4х заходными. <br>
Материал и качество фрезы определяют срок службы, качество реза и режимы.
    С фрезами низкого качества сложно добиться расчетных значений скорости подачи на практике.</p>
<h4>Примерные режимы резания используемые на практике.</h4>
<p>Данная таблица имеет ознакомительный характер. Более точные режимы обработки определяются исходя из
    качества фрез, вида станка, и др. Подбираются опытным путем.</p>
<img src="https://cncmodelist.ru/images/articals/REZANIE/D.jpg" alt="tab">



{% endblock %}
